.quantity-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $warm-gray;

  .minus,
  .plus,
  {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      height: 40px;
      width: 40px;
      background: $taco-pink;
      color: white;
  }
}
