.button {
  margin-top: 13px;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  color: $white;
  text-transform: uppercase;
  a {
    vertical-align:middle;
    color: $teal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
  }
}

.button-pink {
  margin-top: 13px;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  color: $white;
  text-transform: uppercase;
  a {
    vertical-align:middle;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
  }
}
.button-select-location {
  margin-top: 13px;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  color: $white;
  text-transform: uppercase;
  a {
    vertical-align:middle;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
  }
}
.button-add {
  padding: 5px 10px 5px 10px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  color: $white;
  text-transform: uppercase;
  a {
  text-decoration: none;
  vertical-align:middle;
  width: 98px;
  height: 23px;
  font-family: FranchiseFree;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  }
}
.nav {
  height: 27px;
  width: 375px;
  padding: 11px;
  background: black;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  .nav-item {
    margin: 0 1rem;
    color: $warm-grey;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
  }
}
