@import "bottom-menu";
@import "main-header-nav";
@import "order-button";
@import "forms";
@import "location-list";
@import "menu";


.button {
  margin-top: 13px;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  color: $white;
  text-transform: uppercase;
  a {
    vertical-align:middle;
    color: $teal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
  }
}

.button-pink {
  margin-top: 13px;
  padding: 5px 10px 5px 10px;
  width: 200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  color: $white;
  text-transform: uppercase;
  a {
    vertical-align:middle;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    text-align: center;
  }
}
.menu-category-list {
  display: flex;
  .menu-category-item {
    margin-bottom: 1rem;
    margin-right: 10px;
  }
}
menu-category-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  background: gray;
  color: black;

  .category-name {
    padding: 0.5rem;
    font-size: 1rem;
  }

  &.reverse-type {
    background: black;
    color: white;
  }

}
.view-title {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

// .menu-item-list {
//   @include outer-container;
//   .menu-item {
//     @include span-columns(6);
//     width: 172px;
//     margin: 5px;
//   }
// }

.nav {
  height: 27px;
  width: 375px;
  padding: 11px;
  background: black;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  .nav-item {
    margin: 0 1rem;
    color: $warm-grey;
    font-family: FranchiseFree;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
  }
}
