@import "colors";
@import "menu-item";
@import "quantity-picker";
@import "image-styles";
@import "text";

.button-container {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
