@import "colors";
@import "menu-item";
@import "quantity-picker";
@import "image-styles";
@import "text";
@import "view-title";


.button-container {
  margin-top: 142px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
